@model Models.Model.UsuariosModel

@{
    ViewBag.Title = "Crear usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.IdUsuario, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdPais, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                <select id="IdPais" class="form-control">
                    <option value="ABW">Aruba</option>
                    <option value="AFG">Afganistán</option>
                    <option value="AGO">Angola</option>
                    <option value="AIA">Anguilla</option>
                    <option value="ALA">IslasÅland</option>
                    <option value="ALB">Albania</option>
                    <option value="AND">Andorra</option>
                    <option value="ANT">Antillas Holandesas</option>
                    <option value="ARE">EmiratosÁrabes Unidos</option>
                    <option value="ARG">Argentina</option>
                    <option value="ARM">Armenia</option>
                    <option value="ASM">Samoa americana</option>
                    <option value="ATA">Antartida</option>
                    <option value="ATF">Territorios Sureños de Francia</option>
                    <option value="ATG">Antigua y Barbuda</option>
                    <option value="AUS">Australia</option>
                    <option value="AUT">Austria</option>
                    <option value="AZE">Azerbaiyán</option>
                    <option value="BDI">Burundi</option>
                    <option value="BEL">Bélgica</option>
                    <option value="BEN">Benin</option>
                    <option value="BFA">Burkina Faso</option>
                    <option value="BGD">Bangladesh</option>
                    <option value="BGR">Bulgaria</option>
                    <option value="BHR">Bahrain</option>
                    <option value="BHS">Bahamas</option>
                    <option value="BIH">Bosnia y Herzegovina</option>
                    <option value="BLR">Belarus</option>
                    <option value="BLZ">Belize</option>
                    <option value="BMU">Bermuda</option>
                    <option value="BOL">Bolivia</option>
                    <option value="BRA">Brasil</option>
                    <option value="BRB">Barbados</option>
                    <option value="BRN">Brunei Darussalam</option>
                    <option value="BTN">Bhutan</option>
                    <option value="BVT">Isla Bouvet</option>
                    <option value="BWA">Botswana</option>
                    <option value="CAF">República Centroafrican</option>
                    <option value="CAN">Canadá</option>
                    <option value="CCK">Islas Cocos (Keeling)</option>
                    <option value="CHE">Suiza</option>
                    <option value="CHL">Chile</option>
                    <option value="CHN">China</option>
                    <option value="CIV">Costa de Marfil</option>
                    <option value="CMR">Camerún</option>
                    <option value="COD">República Democrática del Congo</option>
                    <option value="COG">Congo</option>
                    <option value="COK">Islas Cook</option>
                    <option value="COL">Colombia</option>
                    <option value="COM">Comoros</option>
                    <option value="CPV">Cabo Verde</option>
                    <option value="CRI">Costa Rica</option>
                    <option value="CUB">Cuba</option>
                    <option value="CXR">Isla Navidad</option>
                    <option value="CYM">Islas Caimán</option>
                    <option value="CYP">Chipre</option>
                    <option value="CZE">Chequia</option>
                    <option value="DEU">Alemania</option>
                    <option value="DJI">Djibouti</option>
                    <option value="DMA">Dominica</option>
                    <option value="DNK">Dinamarca</option>
                    <option value="DOM">República Dominicana</option>
                    <option value="DZA">Argelia</option>
                    <option value="ECU">Ecuador</option>
                    <option value="EGY">Egipto</option>
                    <option value="ERI">Eritrea</option>
                    <option value="ESH">Sáhara Occidental</option>
                    <option value="ESP">España</option>
                    <option value="EST">Estonia</option>
                    <option value="ETH">Etiopía</option>
                    <option value="FIN">Finlandia</option>
                    <option value="FJI">Fiji</option>
                    <option value="FLK">Islas Malvinas</option>
                    <option value="FRA">Francia</option>
                    <option value="FRO">Islas Faroe</option>
                    <option value="FSM">Micronesia</option>
                    <option value="GAB">Gabón</option>
                    <option value="GBR">Reino Unido</option>
                    <option value="GEO">Georgia</option>
                    <option value="GHA">Ghana</option>
                    <option value="GIB">Gibraltar</option>
                    <option value="GIN">Guinea</option>
                    <option value="GLP">Guadalupe</option>
                    <option value="GMB">Gambia</option>
                    <option value="GNB">Guinea-Bissau</option>
                    <option value="GNQ">Guinea Ecuatorial</option>
                    <option value="GRC">Grecia</option>
                    <option value="GRD">Granada</option>
                    <option value="GRL">Groenlandia</option>
                    <option value="GTM">Guatemala</option>
                    <option value="GUF">Guinea Francesa</option>
                    <option value="GUM">Guam</option>
                    <option value="GUY">Guayana</option>
                    <option value="HKG">Hong Kong</option>
                    <option value="HMD">Islas Heard e Islas McDonald</option>
                    <option value="HND">Honduras</option>
                    <option value="HRV">Croacia</option>
                    <option value="HTI">Haití</option>
                    <option value="HUN">Hungría</option>
                    <option value="IDN">Indonesia</option>
                    <option value="IMN">Isla de Man</option>
                    <option value="IND">India</option>
                    <option value="IOT">Territorio Oceánico de la India Británica</option>
                    <option value="IRL">Irlanda</option>
                    <option value="IRN">Irán</option>
                    <option value="IRQ">Irak</option>
                    <option value="ISL">Islandia</option>
                    <option value="ISR">Israel</option>
                    <option value="ITA">Italia</option>
                    <option value="JAM">Jamaica</option>
                    <option value="JOR">Jordania</option>
                    <option value="JPN">Japón</option>
                    <option value="KAZ">Kazajstán</option>
                    <option value="KEN">Kenia</option>
                    <option value="KGZ">Kirgistán</option>
                    <option value="KHM">Camboya</option>
                    <option value="KIR">Kiribati</option>
                    <option value="KNA">Santa Kitts y Nevis</option>
                    <option value="KOR">Corea</option>
                    <option value="KWT">Kuwait</option>
                    <option value="LAO">Laos</option>
                    <option value="LBN">Líbano</option>
                    <option value="LBR">Liberia</option>
                    <option value="LBY">Libia</option>
                    <option value="LCA">Santa Lucía</option>
                    <option value="LIE">Liechtenstein</option>
                    <option value="LKA">Sri Lanka</option>
                    <option value="LSO">Lesoto</option>
                    <option value="LTU">Lituania</option>
                    <option value="LUX">Luxemburgo</option>
                    <option value="LVA">Letonia</option>
                    <option value="MAC">Macao</option>
                    <option value="MAR">Marruecos</option>
                    <option value="MCO">Mónaco</option>
                    <option value="MDA">Moldavia</option>
                    <option value="MDG">Madagascar</option>
                    <option value="MDV">Maldivas</option>
                    <option value="MEX">México</option>
                    <option value="MHL">Islas Marshall</option>
                    <option value="MKD">Macedonia</option>
                    <option value="MLI">Mali</option>
                    <option value="MLT">Malta</option>
                    <option value="MMR">Mianmar</option>
                    <option value="MNG">Mongolia</option>
                    <option value="MNP">Islas de Norte-Mariana</option>
                    <option value="MOZ">Mozambique</option>
                    <option value="MRT">Mauritania</option>
                    <option value="MSR">Montserrat</option>
                    <option value="MTQ">Martinica</option>
                    <option value="MUS">Mauricio</option>
                    <option value="MWI">Malawi</option>
                    <option value="MYS">Malasia</option>
                    <option value="MYT">Mayote</option>
                    <option value="NAM">Namibia</option>
                    <option value="NCL">Nueva Caledonia</option>
                    <option value="NER">Níger</option>
                    <option value="NFK">Islas Norfolk</option>
                    <option value="NGA">Nigeria</option>
                    <option value="NIC">Nicaragua</option>
                    <option value="NIU">Niue</option>
                    <option value="NLD">Holanda</option>
                    <option value="NOR">Noruega</option>
                    <option value="NPL">Nepal</option>
                    <option value="NRU">Nauru</option>
                    <option value="NZL">Nueva Zelanda</option>
                    <option value="OMN">Omán</option>
                    <option value="PAK">Pakistán</option>
                    <option value="PAN">Panamá</option>
                    <option value="PCN">Pitcairn</option>
                    <option value="PER">Perú</option>
                    <option value="PHL">Filipinas</option>
                    <option value="PLW">Palau</option>
                    <option value="PNG">Papúa Nueva Guinea</option>
                    <option value="POL">Polonia</option>
                    <option value="PRI">Puerto Rico</option>
                    <option value="PRK">Corea</option>
                    <option value="PRT">Portugal</option>
                    <option value="PRY">Paraguay</option>
                    <option value="PSE">Palestina</option>
                    <option value="PYF">Polinesia Francesa</option>
                    <option value="QAT">Qatar</option>
                    <option value="REU">Reunión</option>
                    <option value="ROU">Rumanía</option>
                    <option value="RUS">Rusia</option>
                    <option value="RWA">Ruanda</option>
                    <option value="SAU">Arabia Saudí</option>
                    <option value="SCG">Serbia y Montenegro</option>
                    <option value="SDN">Sudán</option>
                    <option value="SEN">Senegal</option>
                    <option value="SGP">Singapur</option>
                    <option value="SGS">Georgia del Sur e Islas Sandwich del Sur</option>
                    <option value="SHN">Santa Helena</option>
                    <option value="SJM">Esvalbard y Jan Mayen</option>
                    <option value="SLB">Islas Salomón</option>
                    <option value="SLE">Sierra Leona</option>
                    <option value="SLV">El Salvador</option>
                    <option value="SMR">San Marino</option>
                    <option value="SOM">Somalia</option>
                    <option value="SPM">San Pedro y Miquelon</option>
                    <option value="SSD">Sudán del Sur</option>
                    <option value="STP">Santo Tomé y Príncipe</option>
                    <option value="SUR">Surinám</option>
                    <option value="SVK">Eslovaquia</option>
                    <option value="SVN">Eslovenia</option>
                    <option value="SWE">Suecia</option>
                    <option value="SWZ">Suazilandia</option>
                    <option value="SYC">Seychelles</option>
                    <option value="SYR">Siria</option>
                    <option value="TCA">Islas Turks y Caicos</option>
                    <option value="TCD">Chad</option>
                    <option value="TGO">Togo</option>
                    <option value="THA">Tailandia</option>
                    <option value="TJK">Tajikistán</option>
                    <option value="TKL">Tokelau</option>
                    <option value="TKM">Turmenistán</option>
                    <option value="TLS">Timor Leste</option>
                    <option value="TON">Tongo</option>
                    <option value="TTO">Trinidad y Tobago</option>
                    <option value="TUN">Túnez</option>
                    <option value="TUR">Turquía</option>
                    <option value="TUV">Tuvalu</option>
                    <option value="TWN">Taiwán</option>
                    <option value="TZA">Tanzania</option>
                    <option value="UGA">Uganda</option>
                    <option value="UKR">Ucrania</option>
                    <option value="UMI">Islas Ultramarinas de Estados Unidos</option>
                    <option value="URY">Uruguay</option>
                    <option value="USA">Estados Unidos</option>
                    <option value="UZB">Uzbekistán</option>
                    <option value="VAT">Estado Vaticano</option>
                    <option value="VCT">San Vincente y Las Granadinas</option>
                    <option value="VEN">Venezuela</option>
                    <option value="VGB">Islas Vírgenes Británicas</option>
                    <option value="VIR">Islas Vírgenes Estadounidenses</option>
                    <option value="VNM">Vietnam</option>
                    <option value="VUT">Vanuatu</option>
                    <option value="WLF">Wallis y Futuna</option>
                    <option value="WSM">Samoa</option>
                    <option value="YEM">Yemen</option>
                    <option value="ZAF">Sudáfrica</option>
                    <option value="ZMB">Zambia</option>
                    <option value="ZWE">Zimbabue</option>
                </select></div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecibeInformacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RecibeInformacion)
                    @Html.ValidationMessageFor(model => model.RecibeInformacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.HiddenFor(model => model.Activo)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Crear" onclick="UsuarioMod.fun.add();" class="btn btn-default" />
            </div>
        </div>
    </div>


<div>
    @Html.ActionLink("Regresar", "ListaUsuarios", "Home")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/general")
    @Scripts.Render("~/bundles/usuarios")
}
